/* Rohan Carousel */
* { margin: 0; padding: 0;}

h2 { margin-top: 10px;}

#main-container {
	width: 100%;
}

#content { 	
	margin: 0 auto;
	width: 500px;	
}

#box { 
	position: relative; 
	margin-top: 20px; 
	width: 500px; 
	height: 300px; 
	background-color: #000;
	overflow: hidden;
}

#box-content { 
	position: absolute; 
	bottom: 0; 
	display: none;
	width: 480px; 
	height: 55px; 
	padding: 5px 10px; 
	background: black; 
	color: #FFF;
}