/* Project Name: RohanChambers.net version 3.0 | Author: Rohan Chambers | Date: 12 June 2012 */

/* ==|== reset ========= */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; overflow-x: hidden; }
body { margin: 0; font-size:62.5%; }
body, button, input, select, textarea { font-family: sans-serif; color: #222; }

::-moz-selection { background: #0074c0; color: #fff; text-shadow: none; }
::selection { background: #0074c0; color: #fff; text-shadow: none; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
h1, h2, h3, h4, h5 { margin: 0px; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
p { margin: 0px; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol, li { margin: 0; padding: 0px;}
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden;}

@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } 
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
  nav, footer, #carousel-container, #carousel-viewport, a.btn-global, span.btn-global { display: none;}
  h2#icon-underhood, h2#icon-cv { background-image: none;}
}

/* Rockwell */
@font-face {
  font-family: "rockwell";
	src: url("../../fonts/rockwell.eot");
	src: url('../../fonts/rockwell.eot?#iefix') format('embedded-opentype'), 
		 url("../../fonts/rockwell.woff") format("woff"),
		 url("../../fonts/rockwell.otf") format("opentype"),
		 url("../../fonts/rockwell.svg#rockwell") format("svg");
    font-weight: normal;
    font-style: normal;    
}
/* FuturaLT-CondensedBold */
@font-face {
    font-family: 'FuturaLT-CondensedBold';
    src: url('../../fonts/FuturaLT-CondensedBold.eot');
    src: url('../../fonts/FuturaLT-CondensedBold.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/FuturaLT-CondensedBold.woff') format('woff'),
         url('../../fonts/FuturaLT-CondensedBold.ttf') format('truetype'),
         url('../../fonts/FuturaLT-CondensedBold.svg#FuturaLT-CondensedBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Typography */
h1, h2, h3, nav, nav span, #tweet, #portfolio ul li a, ul.case-study-details li strong, .case-study #left-col a.go-back { 
font-family: 'FuturaLT-CondensedBold', Arial, Helvetica, Verdana; text-transform: uppercase;}
.portfolio h3, #tweet { font-family: 'rockwell', Arial, Helvetica, Verdana; text-transform: none;}
h1, h2 { font-size: 1.8em; line-height: 1; padding-bottom: 15px; color: #0074c0; font-weight: normal; clear: both;}
h3 { font-size: 1.4em; font-weight: normal; color: #333333; padding-bottom: 5px; text-decoration: none;}
.portfolio h3 { position: absolute; bottom: -30px; left: 0; display: block; clear: both; font-size: inherit; font-weight: bold; color: #333;}
.ie7 .portfolio h3 { font-size: 1em; padding-top: 4px;}
	h3 span { font-size: 1.1em; color: #333333; font-weight: normal;}
.accessibility h3 { padding: 10px 0;}
#what-i-do h3 { border-left: 5px solid #0074C0; min-height: 15px; margin-bottom: 5px; padding: 0 0 0 6px;}
#what-i-do ul li a:hover h3 { border-left: 5px solid #000;}

p { font-size:1.3em; line-height:1.5em; padding:0 0 15px; color:#333333;}

/* Normal Links */
a { font-size: 1.3em; color:#0074c0;}
a:hover { text-decoration:none;}
/* Block links */
a.block-link, .case-study-details a { font-size: inherit; color:#0074c0;}
a.block-link:hover, .case-study-details a:hover { background-color: #0074c0; color: #FFF; text-decoration:none;}

a, a:hover, a:active, a:focus { outline:none;}
p a { font-size: inherit;}
.ie7 p a, .ie7 #copyright a, .ie7 ul.bullets a { font-size: 1em;}
.hr { background:url(../../img/global/hr-line.png) no-repeat; height:5px; margin:20px 0 5px; }
.bullets a { font-size: inherit; text-transform: none!important; font-family: Arial, Helvetica, Verdana!important;}
.services p { padding:0 0 8px;}

nav { font-size: 1.2em; letter-spacing: 1px; text-transform:uppercase;}
nav span { font-size:.8775em; text-transform:none; letter-spacing:1px;}
#tweet { font-size: 2em; line-height: 1.2; color: #FFF;}

/* Global button span */
.btn-global { font-size: 1.3em; color: #FFF; line-height: 20px; padding-left: 14px; text-decoration: none;}
.btn-spacer { margin-bottom: 20px;}
.btn-global { position: relative; display: block; float: left; height: 21px; 
background: url("../../img/btn/btn-global.png") no-repeat left -21px;}
section#what-i-do ul li a:hover span.btn-global { background: url("../../img/btn/btn-global.png") no-repeat left 0;}
.btn-global span { position: absolute; display: block; float: left; width: 21px; height: 21px; top: 0; right: -21px; 
background: url("../../img/btn/btn-global.png") right -21px;}
section#what-i-do ul li a:hover span.btn-global span { position: absolute; background-position: right 0;}
.btn-global span.arrow { position: absolute; z-index: 1; top:7px; right: -9px; width: 5px; height: 7px; 
background: url("../../img/btn/btn-global-arrow.png") no-repeat 0 0;}

/* Global button link */
.btn-global { font-size: 1.3em; position: relative; display: block; float: left; line-height: 20px; height: 21px; 
background: url("../../img/btn/btn-global.png") no-repeat left -21px;}
.btn-global:hover { background: url("../../img/btn/btn-global.png") no-repeat left 0;}
.btn-global span { position: absolute; display: block; float: left; width: 21px; height: 21px; top: 0; right: -21px; 
background: url("../../img/btn/btn-global.png") right -21px;}
.btn-global:hover span { position: absolute; background-position: right 0;}
.btn-global span.arrow { position: absolute; z-index: 1; top:7px; right: -9px; width: 5px; height: 7px; 
background: url("../../img/btn/btn-global-arrow.png") no-repeat 0 0;}
p .btn-global { font-size: .9775em;}

/* Main Layout */
body { width: 100%; background: #F5F6F7 url(../../img/global/bg-main.jpg) repeat-x;}
header, #content, footer, section { margin: 0 auto; text-align: left; width: 960px;}
header { position: relative; height: 90px; margin-bottom: 15px; clear: both;}
#logo img { display: none;}
#content { width: 960px;}
section { margin: 25px 0 10px 0; height: auto; overflow: hidden; clear: both;}
section#carousel-container {  margin: 0 0 -10px 0; clear: both;}
footer { height: auto; overflow: hidden; clear: both;}
#footer-wrapper { width: 100%; background: url(../../img/global/bg-footer.jpg);}
#logo a { float: left; margin: 35px 0 0 0; width: 175px; height: 55px; background: url(../../img/global/logo.png) no-repeat 0 0; text-indent: -9999px;}

#scroll { position: absolute; top: 0; right: 15px; width: 46px; height: 46px;}
#scroll .arrow-down { display: block; width: 46px; height: 46px; cursor: pointer; background: transparent url(../../../img/btn/sprite.png) no-repeat -287px 0; }
#scroll .arrow-down:hover { background-position: -348px 0;}
#scroll .arrow-up { display: block; width: 46px; height: 46px; cursor: pointer; background: transparent url(../../../img/btn/sprite.png) no-repeat -462px 0; }
#scroll .arrow-up:hover { background-position: -401px 0;}
#skip-content { margin-top: 15px;}
#sharethis { float: right; position: relative; margin: -78px -2px 0 0; width: 142px; width: 264px; text-align: right;}
*html .sharethis { width: 142px;}

/* Main Navigation */
nav { float: right; margin: 51px 0 0 0;}
nav ul { margin: 0; padding: 0;}
nav ul li { background-color: #171922; width: 140px; height: auto; line-height: 25px; float: left; display: block; 
margin: 0 0 0 10px;}
nav ul li.currentpage { background-color: #0074C0;}
nav ul li a { display: block; height: auto; padding-left: 8px; background: url(../../img/global/bg-nav-divider.gif) repeat-y; color: #FFF; 
text-align: center; text-decoration: none;}
nav ul li a:hover { text-decoration: none;}
nav ul li a span { display: block; clear: both; margin-top: -10px;}
.no-js nav ul li:hover { background-color: #0074C0;}
	
/* HomePage */
#intro { float: left; width: 345px;}
#intro:hover strong { color: #0074c0;}

#what-i-do ul { width: 950px; margin: 0 auto 15px auto;}
#what-i-do ul li { position: relative; float: left; display: block; margin: 0 22px 15px 0; padding: 10px; width: 200px; height: auto; 
background: #FFF url(../../img/pages/home/bg-panels.jpg) no-repeat bottom left;
-moz-box-shadow: 2px 2px 8px #D2D2D2;
-webkit-box-shadow: 2px 2px 8px #D2D2D2;
box-shadow: 2px 2px 8px #D2D2D2;
behavior: url(includes/css/PIE.htc);
}
#what-i-do ul li.last { margin: 0;}
#what-i-do ul li a { font-size: 1em; text-decoration: none;}
#what-i-do p { line-height: 1.3; padding: 0 0 8px 0;}

#more { position: relative; float: left;}
#more h2 { padding-bottom: 10px;}
#more p { padding: 0 0 10px 0;}
#about, #skills, #contact { float: left; display: inline; margin: 0 42px 0 0; width: 255px; height: auto;}
#about { width: 345px;}
#about:hover strong { color: #0074c0;}
.bullets { font-size: 1.3em; margin: 3px 0 12px 0;}
.bullets li { margin: 0 0 2px 15px; padding: 3px 0; list-style-image: url(../../img/btn/btn-global-arrow-blue.png); list-style-type: disc;}
.case-study-details .bullets { font-size: 0.775em!important; }
.case-study-details .bullets li { margin: 0 0 2px 15px; line-height: 1.3em; list-style-image: url(../../img/btn/btn-global-arrow-blue.png); list-style-type: disc;}

	.bullets li .star-rating { float: right; clear: both; margin: -5px 0 0 -5px!important;}
	.bullets li .star-rating li { width: 15px; height: 14px; float: left; margin: 0 8px 2px 0; padding: 3px 0; list-style-image: url(../../img/icons/star-blue.png);}
	.bullets li .star-rating li.no-star { list-style-image: url(../../img/icons/star-grey.png);}
	.bullets li .star-rating li.half-star { list-style-image: url(../../img/icons/star-half.png);}	

#contact.last { margin: 0;}
#contact img { margin-bottom: 8px;}

h2#icon-cv { margin-bottom: 10px; height: 25px; line-height: 30px; background: url(../../img/icons/pdf.png) no-repeat right center;}
h2#icon-underhood { margin-bottom: 10px; height: 100%; height: 25px; line-height: 35px; background: url(../../img/icons/under_hood.png) no-repeat right center;}
	h2#icon-cv a, h2#icon-underhood a { display: block; width: 100%; height: 35px; text-decoration: none; font-size: 1.0em;}
	h2#icon-cv img { opacity: 0.7;}
	
#clients { float: left; width: 960px; height: auto; margin-top: 10px; padding: 10px 0 5px 0;}
	#clients ul { float: left; width: 960px; height: auto;}
	#clients ul.client-row { margin-bottom: 15px; width: 960px;}
		#clients ul li { display: block; float: left; margin-right: 18px;}
		#clients ul.client-row2 li { margin-right: 26px;}
		#clients ul li.last { margin: 0;}
		.no-js #clients ul li { display: block; float: left; margin-right: 17px; min-width: 75px; height: 40px;}
		#clients ul li img { padding: 2px;}
		#clients ul li img:hover { border: 1px solid #FFF; padding: 1px;}

#latest-posts, #sites-i-follow, #follow-me { float: left; margin: 15px 20px 0 0; width: 300px; height: auto;}
#follow-me.last { margin: 15px 0 0 0;}
#latest-posts ul, #sites-i-follow ul { border-bottom: 1px solid #FFF;}
#latest-posts ul li, #sites-i-follow ul li { margin: 1px 0; padding: 5px 0; border-top: 1px solid #FFF;}
#latest-posts ul li a, #sites-i-follow ul li a { color: #FFF; text-decoration: none; display: block;}
#latest-posts ul li a:hover, #sites-i-follow ul li a:hover { background: #0074c0;} 

#follow-me ul { clear: both; height: 35px;}
#follow-me ul li { display: block; float: left;}
#follow-me ul li img { margin-right: 10px;}
#twitter { margin-top: 20px;}
#twitter img { float: right;}
#twitter p { float: left; padding: 10px 0 0 0;}

#copyright { float: left; width: 100%; height: auto; margin-top: 15px;}
#copyright img { float: left; background: #FFF; padding: 2px;}
#copyright div { float: left; margin-left: 10px;}
#copyright p { color: #FFF; line-height: 1.3; padding-top: 2px;}
#copyright a { font-size: inherit; color: #0074c0;}
#copyright a:hover { color: #0074c0; text-decoration: none;}
#copyright #under-hood { float: right; background-color: transparent;}

/* Portfolio */
.ie7 #portfolio { padding: 0 0 20px 0;}
#portfolio p { width: 60%;}
#portfolio ul#filter-nav { clear: both; margin-bottom: 20px;}
.ie7 section#portfolio ul#filter-nav { float: left; margin-bottom: 0px;}
#portfolio ul#filter-nav li { display: block; float: left; margin :0 0 20px 20px;}
#portfolio ul#filter-nav li.first { margin: 0; padding: 0;}
#portfolio ul#filter-nav li a { font-size: 1.5em; color: #333333; text-decoration: none;}
#portfolio ul#filter-nav li a:hover { text-decoration: underline;}
#portfolio ul#filter-nav li.active a { color: #0074c0; text-decoration: underline;}

#portfolio ul#case-study { width: 960px; float: left; clear: both; height: auto;}
#portfolio ul#case-study li { position: relative; display: block; float: left; margin: 0 11px 30px 0; padding: 1px; width: 290px; height: 165px; border: 5px solid #FFF;}
#portfolio ul#case-study li:hover { border: 5px solid #0074c0}
#portfolio ul#case-study li.active { margin: 0;}
#portfolio ul#case-study li .caption { position: absolute; top: 0; left: 0; height: 80px; width: 100%;}
#portfolio ul#case-study li a { text-decoration: none;}
#portfolio ul#case-study li img { width: 290px; height: 165px;}

/* Case Study */
.case-study-details li { position: relative; margin: 0 0 10px 0; font-size: 1.3em;}
.case-study-details li strong { font-size: 1.2em; font-weight: normal;}
.case-study-details li p { font-size: inherit;}
.case-study-details li a { font-size: inherit;}
.case-study #left-col h2 { color: #333333; font-size: 1.7em;}

.ie7 .case-study-details li { margin: 0 0 10px 0; font-size: 1.3em;}
.ie7 .case-study-details li strong { font-size: 1.1em; font-weight: normal;}
.ie7 .case-study-details li p, ul.case-study-details li a { font-size: 1em;}

.case-study #left-col #controls { margin: 0 0 40px 0;}
.case-study #left-col #controls li { display: block; float: left; font-size: inherit; margin-right: 5px; width: auto; height: 30px;}
.case-study #left-col #controls li a { text-indent: -9999px;}
.case-study #left-col #controls li a.go-back, 
.case-study #left-col #controls li a.go-next, .case-study #left-col ul#controls li a.go-all { display: block; font-size: 1.3em; line-height: 30px; height: 30px;}
.case-study #left-col #controls li a.go-back { float: left; padding-left: 35px; background: url(../../img/icons/blue-go-back.png) 0 0 no-repeat;}
.case-study #left-col #controls li a.go-next { float: left; padding-left: 35px; background: url(../../img/icons/blue-go-next.png) 0 0 no-repeat;}
.case-study #left-col #controls li a.go-all { float: left; padding-left: 35px; background: url(../../img/icons/blue-go-all.png) 0 0 no-repeat;}
.case-study #left-col #controls li a.go-back:hover, 
.case-study #left-col #controls li a.go-next:hover,
.case-study #left-col #controls li a.go-all:hover { background-position: 0 -30px;}

.case-study #left-col { width: 330px; height: auto;}
.case-study #left-col #floater-panel { width: 330px; height: auto; position: absolute; top: 0;}
.case-study #left-col #floater-panel.fixed { position: fixed;}
.case-study #right-col { width: 580px;}
.case-study #right-col { margin-top: 34px;}
.case-study #right-col .captions h3 { font-size: 1.1em;}
.case-study #right-col .captions p { font-size: 1em;}
.case-study #right-col img { margin-bottom: 50px;}
.case-study #right-col li { list-style: none;}

/* Services */
#left-col { float: left; width: 460px; height: auto;}
#right-col { float: right; width: 430px; height: auto;}
#right-col ul { margin-bottom: 15px;}
.tabs { width: 460px; margin-top: 50px; clear: both;}
.ie7 .tabs { margin-top: 30px;}
.tabs > div { padding: 5px 0; margin-top: 3px;}
.tabs p a { font-size: 1em;}
.services p { padding: 0 0 10px 0;}
.tabNavigation { list-style: none; margin: 0; padding: 0;}
.tabNavigation li { float: left;}
.tabNavigation li a { display: block; padding: 6px 13px; background-color: #171922; color: #FFF; text-decoration: none; 
border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; 
-webkit-border-radius-topleft: 8px; border-top-right-radius: 8px; 
-moz-border-radius-topright: 8px; -webkit-border-radius-topright: 8px;
}

.tabNavigation li a.selected, ul.tabNavigation li a:hover { background-color: #0074C0; color: #fff; padding-top: 6px;}
.tabNavigation li a:focus { outline: 0;}
#first, #second, #third, #fourth, #fith { clear: left; padding-top: 15px;}
.confidential { font-size: .9em; color: #cc0000;}
.browser-icons { display: block; height: 30px;}
.browser-icons img { float: left; margin-right: 5px;}
#services-popup { width: 500px; text-align: left;}

#lightbox-bg, #lightbox-services, #lightbox-home { z-index: 1; display:none; position:fixed; top:0; left:0; width:100%; height:100%; }
#lightbox-bg { background:#000; opacity:0.8; filter:alpha(opacity=8);}
#lightbox-panel { position: relative; width: 500px; height: auto; margin: 100px auto;}
#lightbox-content { border-top: 5px solid #0074C0; background-color: #FFF; padding: 10px;}
#close { position:absolute; top:-20px; right:0;}
#close a { color: #FFF;}
.no-js #lightbox { position: relative; width: 430px; display: block; float: right;}
.no-js #lightbox-content { float: left; margin-top: 15px; padding: 0; background: none;}
.no-js #lightbox-panel { width: 430px; margin: 0;}
.no-js #close { display: none;}
.no-js .home #lightbox { float: left;}
.no-js .home #lightbox h2 { padding-top: 10px;}

/* Contact */
#lampost { background: url(../../img/global/bg-chambers-post.png) no-repeat right bottom; margin-bottom: 0; padding-bottom: 20px; }
.contact #content h2 { float: left; margin-top: 15px;}
.contact #content p { clear: both;}
#contact-list { width: 500px; height: auto; clear: both; margin-bottom: 20px;}
#contact-list li { position: relative; float: left; display: block; height: 20px; width: 250px; margin: 0 0 15px 0; line-height: 20px; font-size: 1.3em;}
#contact-list a { font-size: 1em;}
#contact-list li img { padding-right: 10px;}

/* Carousel Captions */
#carousel-viewport { position:relative; width:950px; height:420px; overflow:hidden; position:relative; border: 5px solid #FFFFFF}
#carousel { position:absolute; left: -960px; z-index:0;}
#carousel li { position: relative; width:960px; height:420px; display:block; float:left; list-style:none; background:#000; color:#FFF; }
#carousel li img { position: absolute;}

.captions { position: absolute; bottom: 0px; left: 0; text-align:left; padding: 5px 10px 8px 75px; color:#666; background: url(../../img/pages/carousel/bg-content-carousel.png); width: 950px; height: auto; }
.captions h3 { padding: 0 0 3px 0; color: #FFF; font-size: 1.7em;}
.captions p { width: 800px; padding: 0; font-size: 1.3em; line-height: 1.1; color: #FFF;}
.captions a.find-more { color: #0074c0; font-weight: bold; float: left; clear: both;}

#carousel-controls { position:absolute; bottom:25px; left:0; width:960px; height:46px; z-index: 1;}
#carousel-controls a { width:46px; height:46px; display:block; line-height:46px; text-align:center; text-decoration:none; background:#FFF; color:#CCC; cursor: pointer; text-indent: -5000px;}
#carousel-controls a.btn-prev { background: url("../../../img/btn/sprite.png") no-repeat -109px 0 transparent; position: absolute; z-index: 1; bottom: -10px; left: 10px; }
#carousel-controls a.btn-nxt { background: url("../../../img/btn/sprite.png") no-repeat -50px 0 transparent; position: absolute; z-index: 1; bottom: -10px; right: 20px; }
#carousel-controls a.btn-prev:hover { background: url("../../../img/btn/sprite.png") no-repeat -228px 0; position: absolute; bottom: -10px; left: 10px; }
#carousel-controls a.btn-nxt:hover { background: url("../../../img/btn/sprite.png") no-repeat -169px 0; position: absolute; bottom: -10px; right: 20px; }

.no-js #carousel-viewport { border: none; width: 960px; height: 420px; overflow: hidden; position: relative;}
.no-js #carousel { overflow-x: scroll; width: 960px; left: 0; height: 440px; clear: both;}
.no-js #carousel li { display: block; float: left; width: 940px; height: 420px;}
.no-js #carousel li .captions { padding: 5px 10px 5px 10px; width: 940px;}
.no-js #carousel-controls { display: none;}

/* Pager links for Homepage */
.home .pager { position: absolute; margin: 10px 0 0 10px; z-index: 10;}
.home .pager a { color: black; zoom:1; display: block; float: left; margin-right: 8px; width:12px; height:12px; line-height: 30px; 
background: url(../../img/pages/carousel/blue-pager-home.png) no-repeat 0 0px; color: transparent; text-align: center; text-decoration: none;}
.home .pager a:hover { background-position: 0 -13px; color: transparent;}

/* Pager links for Case study page */
.case-study .pager { position: absolute; margin: 340px 0 0 10px; z-index: 10;}
.case-study .pager a { color: black; zoom:1; display: block; float: left; margin-right: 5px; width:30px; height:30px; line-height: 30px; 
background: url(../../img/pages/carousel/blue-pager.png) no-repeat 0 -30px; color: #FFF; text-align: center; text-decoration: none;}
.case-study .pager a:hover { background-position: 0 0; color: #000;}

/* Sitemap */
.siteMap li { font-size: 1.3em; padding: 5px 0;}
.siteMap li a { font-size: 1.1em;}
.siteMap li ul li { font-size: inherit; margin-left: 25px; padding: 12px 0 0 0;}
.error #right-col ul { margin-left: 15px;}

/* Accessibility */
#accessibility { width: 600px;}
#accessibility p { padding: 0 0 5px 0;}
#accessibility ul li, section#accessibility ol li { font-size: 1.3em; line-height: inherit; margin-bottom: 5px;}
#accessibility ol { list-style-type: decimal; margin: 0 0 10px 30px;}
#accessibility a { font-size: 1em;}

/* Tweets */
.tweet_text { font-size: inherit;}

/***** PLUGINS *****/
/* Get a quote */
small { color:#999; font-size:.85em; clear:both; }
#get-quote-form { width:600px; }
#intro-content p { width:460px; }
p { clear:both; }
.endOfSection { clear:both; width:100%; height:0; display:block; line-height:0; font-size:0; padding:0; margin-top:50px; border:0; }

/* Form */
label { display:block; float:left; clear:left; margin:5px 0 10px; width:270px; line-height:120%; font-size:inherit; padding-right:10px; }
#get-quote-form input,#get-quote-form textarea,#get-quote-form select { padding:2px; font-size:1em; color:#666666; background:#F5F5F5; border:1px solid #ccc; float:left; display:block; margin:5px 0 10px; }
#get-quote-form input:focus,#get-quote-form textarea:focus,#get-quote-form select:focus { border:1px solid #999; background-color:#FFFFFF; }
#get-quote-form input:hover,#get-quote-form textarea:hover,#get-quote-form select:hover { padding:2px; font-size:1em; color:#666666; border:1px solid #999; background-color:#FFFFFF; float:left; display:block; margin:5px 0 10px; }

/* Submit image Rollover Button | Get a quote and Contact Pages */
#get-quote-form input.buttonSubmit { margin-top:15px; cursor:pointer; border:none; background:url(../../img/btn/btn-submit.png) no-repeat 0 0; width:109px; height:21px; }
#get-quote-form input.buttonSubmit:hover { margin-top:15px; border:none; background:url(../../img/btn/btn-submit.png) no-repeat 0 -21px; }
.fright { display:block; float:left; width:200px; }
.fright label { width:500px; line-height:25px; margin:0!important; font-size:1.2em; }
.fright input { margin-right:5px!important; }
.required { font-size:13px!important; color:red!important; }
.errormsg { display:block; width:90%; height:22px; line-height:22px; color:#FFFFFF; font-weight:bold; font-size:1.3em; background:#FF9D9D url(../../images/icons/stop.gif) no-repeat 10px center; padding:3px 10px 3px 40px; margin:10px 0; border-top:2px solid #FF0000; border-bottom:2px solid #FF0000; }

/***** MOBILE *****/
/* iPhone (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	#scroll, #what-i-do, #latest-posts, #sites-i-follow, #cv, #services-content, #get-a-quote, 
	#follow-me, #twitter, .captions, 
	.tabs, .star-rating, .hr, #copyright img { display: none;}

ul.case-study-details li strong, .case-study #left-col a.go-back { 
font-family: 'rockwell', Arial, Helvetica, Verdana; text-transform: uppercase;}
	
/* 	header { padding: 0 15px!important; background: red} */
	h1, h2, #contact h2 { font-size: 7em; }
	p, ul.bullets, ol { font-size: 4em;}
	ul.bullets li { list-style-image: none; margin-left: 40px;}
	ol { font-size: 2.5em}
	.btn-global { background: #0074c0; font-size: 4em; display: block; float: left; padding: 15px; margin: 10px 0;}
	.btn-global span { display: none;}
	
	#container { padding: 32px; width: 100%;}
	#about, #skills, #contact { width: 100%; clear: both; margin-bottom: 50px;}
	header, footer { height: auto; overflow: hidden; clear: both; margin: 0; padding: 0;}
	header { margin-bottom: 50px; }
	footer { padding: 0 30px;}
	#carousel-viewport { border: none; width: 100%;}
	#logo { margin: 0px; padding: 0;}
	#logo a { margin: 0px; padding: 0; background-size: 100%; width: 400px; height: 125px;}
	
	nav { width: 100%; float: left; font-size: 2.3em; text-transform:uppercase;}
	nav span { padding-top: 15px; font-size: .8em;}
	nav ul li { margin: 0 14px 0 0; padding: 10px 34px; height: auto; width: auto;}
	nav ul li.last { margin-right: 0;}
	nav ul li a { background: none;}
	#sharethis {  margin: -233px 5px 0 0;}
	
	#follow-me, #clients { float: left; width: 960px; margin-top: 50px;}
	#follow-me img { width: 100px; height: 100px;}
	#follow-me ul li img { margin-right: 25px;}
	#clients ul li { width: 200px; height: 100px; margin: 0 40px 40px 0!important;}
	#clients img { width: 200px; height: 100px; opacity: 1;}
	
	#contact p { margin-bottom: 25px;}
	#contact-list li a { line-height: 70px;}
	#contact-list, .siteMap li { width: auto; font-size: 2.75em;}
	#contact-list li { clear: both; width: 500px!important; height: 60px; padding-bottom: 55px;}
	#contact-list li img { width: 75px; height: 75px;}
	#lampost { background: none;}
		
	#portfolio p { width: 96%;}
	#portfolio ul#filter-nav { height: auto; overflow: hidden; margin: 20px 0;}
	#portfolio ul#filter-nav li a { display: block; font-size: 4em; background-color: #171922; color: #FFF; height: 80px; line-height: 80px; padding: 0px 30px; text-decoration: none!important;}
	#portfolio ul#filter-nav li { margin-left: 20px;}
	#portfolio ul#filter-nav li#video { margin: 0!important;}
	#portfolio li h3 { font-size: 2.5em; bottom: -80px; line-height: 1em;}
	#portfolio ul#case-study li { width: 450px; height: 285px; margin-bottom: 100px; padding: 0; /* margin: 0 20px 20px 0; */}
	#portfolio ul#case-study li img { width: 100%; height: 285px;}
	
	.contact #left-col p { width: 565px;}
	.case-study #left-col, .case-study #right-col { display: block; width: 96%;}
	.case-study #left-col h2 { margin: 0; float: none; font-size: 6em;}
	.case-study #left-col ul { font-size: 2.56em;}
	.case-study #left-col ul p { font-size: 1.3em;}
	.case-study #right-col { float: none; width: 100%;}
	.case-study #right-col ul li { width: 100%;}
	.case-study #right-col ul li img { width: 100%; max-height: auto;}

	.case-study #left-col #controls { float: left; margin: 20px 0 75px 0;}
	.case-study #left-col #controls li { margin-right: 40px;}
	.case-study #left-col #controls li a {  width: 80px!important; height: 40px!important; line-height: 40px; padding: 10px 20px; font-size: 2.5em!important; background: none; background-color: #171922!important; color: #FFF!important; text-decoration: none; text-indent: -9999px!important;}
	.case-study #left-col #controls li a.go-next, 
	.case-study #left-col #controls li a.go-back, 
	.case-study #left-col ul#controls li a.go-all,
	.case-study #left-col #controls li a.go-next:hover, 
	.case-study #left-col #controls li a.go-back:hover, 
	.case-study #left-col ul#controls li a.go-all:hover { background-position: center -13px;}
	.case-study .case-study-details li { margin-top: 20px;}
	.case-study	.case-study-details li strong { font-weight: bold!important;}
	
	#accessibility h3 { font-size: 6em;}
	#accessibility { width: 100%;}
	#accessibility ol li { margin-left: 30px;}
	#accessibility ul li { font-size: 2.75em;}
	#accessibility ul li a { font-size: inherit;}
	
	#left-col, #right-col { width: 100%; clear: both;}
	#left-col h2, #right-col h2 { margin-top: 50px; clear: both;}
	#left-col h2 { float: left;}
	#right-col h3 { font-size: 6em; font-weight: normal!important; margin-top: 10px;}

	footer { background: url(../../img/global/bg-footer.jpg);}
	footer h2 { font-size: 6em;}
	#tweet { width: 400px; font-size: 4.5em;}
	#copyright { margin: 50px 0; font-size: .65em;}
	.btn-nxt {
	    width: 100px!important;
	    height: 100px!important;
	    background: #0074c0!important;
		border-radius:100px!important;
		border:5px solid #FFF;	
	}	
	.btn-prev {
	    width: 100px!important;
	    height: 100px!important;
	    background: #0074c0!important;
		border-radius:100px!important; 
		border:5px solid #FFF;		   
	}
}